<head>
    <meta charset="utf-8" />
    <title>ICOM - @ViewBag.Title - Islamic Center of Owings Mills </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>


    </script>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">

</head>
<body class="homepage">




    @if (Request.IsAuthenticated)
    {
        <div style="background-color:darkblue; font-size:13pt; color:white; width:100% " class="social">
    <table style="color:white; width:100% "> 
            <tr>
        <td style="text-align:left; width:20%; vertical-align:top ">

            Hello, @Html.ActionLink(User.Identity.Name, "Index", "Event", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!

        </td>
        <td>

            <div style="text-align:right" class="search">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    <div style="width:100%" role="form">
                        <a style="display:inline; color:white" href="~/Home"><i class="fa fa-home"></i> Home </a>|
                        <a style="display:inline; color:white" href="~/Event"><i class="fa fa-calendar"></i> Manage Events </a>|
                        <a style="display:inline; color:white" href="~/Member"><i class="fa fa-user"></i> Manage Members </a>|
                        <a style="display:inline; color:white" href="~/Event/SetSalaat"><i class="fa fa-clock-o"></i> Manage Salaat </a>|
                        <a style="display:inline; color:white" href="~/Event/AddGallery"><i class="fa fa-picture-o" aria-hidden="true"></i> Add Gallery Image(s) </a>|
                        <a style="display:inline; color:white" href="~/Event/ContactMessage"><i class="fa fa-envelope" aria-hidden="true"></i> View Contacts </a>|
                        <a style="display:inline; color:white" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Log off</a>
                    </div>
                }



            </div>

        </td>
        </tr></table>   
        </div>
    }
    else
    {
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
    @RenderBody()

</body>