@model FullCalendar_MVC.FamilyViewModel

@{
    int intItemNum = Model.IncIndex < 1 ? Convert.ToInt32(ViewData["intItemNum"]) : Model.IncIndex;
}


@using (Html.BeginCollectionItem("Family"))
{
    string strDivID = "divUserRow" + intItemNum;
    string strRemove = "RemoveButton(this," + intItemNum + ")";
    string strbtnRemove = "btnCancelAdd" + intItemNum;
    string strFamilyDOB = "FamilyDOB" + intItemNum;
    string strFamilyFullName = "FamilyFullName" + intItemNum;
    <div class="row divUserRow" id="@strDivID" style="margin-left:10%; width:90%; border-bottom:3px solid #24366a; text-align:right;  @(((intItemNum) % 2) ==0? "background-color:transparent":"")">

        <table style="width:100%; text-align:right;">
            <tr>
                <td style="text-align:right;">
                    <h5 style="display:inline">Full Name:</h5>
                </td>
                <td style="text-align:right;">
                    @Html.TextBoxFor(x => x.FamilyFullName, new { @class = "FamilyFullName form-control", @placeholder = "Full Name here" })<br />
                </td><td style="text-align:right;">
    <h5 style="display:inline;">Date Of Birth:</h5>
</td>
                <td class=".h5" style="text-align:right;">
                    @Html.TextBoxFor(x => x.FamilyDOB, new { @class = "FamilyDOB form-control", @placeholder = "Date Of Birth here", @type = "date" })
                </td><td>   <button type="button" id="@strbtnRemove" style="width:50px; display:inline" title="Remove Family" name="btnCancelAdd" class="btn-danger btn-block" onclick="@strRemove">X</button>
</td>
            </tr>
           
        </table>
    </div>
}
