@model FullCalendar_MVC.IcomMembers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>IcomMembers</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateRegistered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRegistered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AmountPaid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AmountPaid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IcomMembersId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
